version: '3.8'
services:
  mysql:
    image: mysql:8.0
    environment:
    MYSQL_ROOT_PASSWORD: rootpw
    MYSQL_DATABASE: todo_db
    ports:
    - "3306:3306"
    volumes:
    - mysql_data:/var/lib/mysql


  bot:
    build: .
    environment:
    - TELEGRAM_BOT_TOKEN
    - DATABASE_URL
    env_file:
    - .env
    depends_on:
    - mysql


volumes:
mysql_data: